@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Permet de changer facilement le thème clair à thème sombre partout */
* {
    --color-Primary: #BF40BF;      /* To change */
    --color-secondary: #000;      /* To change */
    --color-ternary: #286850;      /* To change */
    --color-success: #2b8900;      /* To change */
    --background-color: #000;
    --text-color: lightgray;
    --color-Links: cyan;
}

body {
    margin: auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url("../Images/constellations-wallpaper.jpg");
    font-family: 'Lobster', cursive;
    font-size: 16px; /* base font-size so text is readable*/
    color: var(--color-Primary);

}

h1 {
    font-size: 32px;
}

/* Navbar */

.container {
    position: relative;
}

.navbar {
    padding: 0px;
}


.logo-container {
    display: flex;
    align-self: center;
    justify-self: center;
}

nav ul {
    list-style: none;
    flex: 0.85; /* kind of centered, need to fix later */
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.nav-items li:not(:last-child) {
    margin-right: 1em;
    padding-right: 1em;
}

.nav-items li i {
    margin-left: 0.5em;
}

.nav-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-logo {
    height: 15vh;
    min-height: 60px;
    margin-left: 1rem;
}
  
  nav a {
    display: flex;
    text-align: center;
    align-self: flex-end;
    padding: 5px 5px;
    color: var(--secondary_color);
    text-decoration: none;
  }
  
  a.active {
    color: var(--ternary_color);
  }

  li a:hover,
  .nav-link a:hover {
    /* color: var(--color-secondary); */
    color: white;
    opacity: 0.3;
  }
  
  .main-header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 20px 0;
    transition: padding 0.5s;
    /* opacity: 1; */
    background-color: var(--background-color);
}
  
.main-header.sticky {
    position:sticky;
    padding: 8px 0;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
    background-color: var(--background-color);
    padding-bottom: 0.5em;
    opacity: 90%;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

/* Content */

.body-container {
    margin: 2em;
    margin-bottom: 350px;
}

.page-container {
    min-height: 100vh;
    position: relative;
}

/* Section Description Astrologie générale ----- Index page */

#Zodiac-image {
    width: 30%;
}

.Astro-presentation {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 60%); /* Makes text more readable */ 
    width: 100%;
}

.Astro-desc {
    margin: 1em;
    font-size: 20px;
}

.Astro-desc h3 {
    color: var(--color-Primary);
}


/* Section Signes du Zodiac ----- Index page */

.signs a {
    text-decoration: none;
    color: var(--text-color);
}

p.signs {
    font-size: 2em;
}

p.date {
    font-size: 0.75em;
    opacity: 0.8;
    margin-top: 0.7em !important;
}

p.zodiac-desc {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    margin-bottom: 1em !important;
    height: 180px;
    overflow: hidden;
}

.sign-text {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}

.zodiac-signs {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.card {
    outline: 2px solid white;
    margin: 1em;
    background-color: var(--background-color);
    opacity: 80%;
}

.card.daily-astro-card {
    display: grid;
    border-radius: 15%;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 1fr;
    /* justify-items: center; */
    align-items: center;
}

.card.daily-astro-card:not(:first-child) {
    margin: 6em 0px;
}

.card.signs {
    display: inherit;
    border-radius: 20%;
    width: 250px;
    text-align: center;
}

.card:hover {
    opacity: 100%;
}

.card img {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
}

div.signs p {
    padding: 0px;
    margin: 0px;
    align-self: center;
}

.zodiac-signs:hover a{
    /* get the card slightly bigger 
    Actually needs javascript to target a specific card with [data-index] */
}


/* Section Astro du jour */

.daily-astro {
    margin: 3em;
}

.daily-astro-nav-links {
    display: flex;
    justify-content: space-between;
}

.daily-astro-nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 2em 2em 2em;
    border-radius: 20px;
}

.daily-astro-nav a {
    color: var(--color-Links);
    text-decoration: none;
    padding: 1em 2em;
}

.daily-astro-nav a:hover {
    opacity: 0.5;
}

.daily-astro .signs {
    display:inherit; 
    grid-column: 1; 
    justify-self: center;
    margin: 0px;
}

.daily-desc {
    /* grid-row: 1/3; */
    grid-column: 2;
    grid-row: 1/3;
}

.daily-astro .astro-image {
    margin-bottom: 0px;
    width: 70%;
    justify-self: center;
}

.daily-factors {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.daily-desc-subtitle {
    font-size: 20px;
    font-weight: 600;
}

/* Zodiac pages */

.zodiac-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* position: absolute; */
}

.zodiac-desc {
    background-color: rgba( 0, 0, 0, .7);
    border-radius: 20px;
    margin-right: 2em;
}

.zodiac-compatibility-image {
    max-height: 2em;
}

.zodiac-picture {
    max-width: 100%;
}

.zodiac-table {
    width: 100%;
}

/* !-- Content --! */
/* Forms */

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

Form {
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    margin: 3em;
    padding: 3em 0px;
    align-items: center;
    
    /* width: 50%; */
    border-radius: 15%;
}

.background {
    display: block;
    background-color: var(--background-color);
    opacity: 80%;
    z-index: 0;
    width: 90%;
    height: 700px;
}

Label {
    justify-self: end;
}

.submit-2column-form {
    grid-column: 1/3;
}

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    max-width: 30%;
    margin-top: 50px;
    justify-self: center;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .4);
}

button:hover {
color: var(--btn-color);
background-color: var(--glow-color);
box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

input, select {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    color-scheme: dark;
    min-width: 50%;
    margin: 1em;
    justify-self: start;
}

option {
    background-color: rgba(0, 0, 0, 0.3)
}

input:active {
box-shadow: 2px 2px 15px #8707ff inset;
}

/* Table */

Table {
    outline: auto;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    min-height: 10dvh;
    background-color: var(--background-color);
    padding-bottom: 2em;
    color: var(--text-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.copyrights {
    justify-self: center;
    align-self: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 1em;
}

.external-links {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

footer a {
    color: var(--color-Links);
    margin: 0.3em 0;
}

.external-links a:hover {
    opacity: 50%;
}

.socials {
    width: 30%;
    margin: 1em;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.contact {
    display: inherit;
    justify-content: center;
}

.social-icons {
    font-size: 2em !important;
}

.social-icons#facebook {
    color: #3b5998;
}

.social-icons#instagram {
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.social-icons#twitter {
    color: 	#1DA1F2;
}

footer hr {
    width: 30%;
}

/* !-- Footer --! */
/* Media queries */

@media screen and (max-width: 1200px) {
    .main-header { 
        margin-bottom: 1rem;
        padding: 8px 0;
        padding-top: 8px;
        padding-right: 0px;
        padding-bottom: 8px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        font-size:small;
        width: max-content;
    }

    .main-header.sticky {
        position: relative;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
    }
    
    .nav-container {
        height: auto;
        max-width: 90vw;
    }

    .nav-logo {
        margin-left: 0px;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .Astro-presentation {
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        width: 100%;
    }

    #Zodiac-image {
        width: 80%;
    }
    
}

@media screen and (max-width: 500px) {
    .logo-container {
        width: 100% !important;
    }
}

@media screen and (max-width: 300px) {
    .navbar{
        font-size:small;
        display: grid;
        width: max-content;
      }
  
      .nav-container {
          flex-direction: column;
          flex-wrap: wrap;
      }

}
/* 
@media (prefers-color-scheme : dark) { 
    
    * {
        --background-color: black;
        --text-color: white;
        --color-secondary: white;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }

} */